body{  
	margin: 0;
	padding:0 ;
}

.main-menu {
  background : green;
}

.main-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-menu ul:after{
		contant: " ";
		display: block;
		clear: both;
}

.main-menu ul li{
	
	float: left;
}
.main-menu ul li a{